.contact-image {
    height: 200px;
    width: 150px;
};

.contact-table  {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

h2 {
   margin: 20px;
   height: 50px; 
   width: 10%;
   color: black;
   font-size: 3rem;
}